@import '@/assets/set.scss';
.container, .container-pad-40 {
    padding: 30px 20px 0 20px;
    :global(.parter) {
        color: rgba(69, 90, 100, 0.6);
        padding: 16px 0;
        font-size: 26px;
    }
    ul {
        background: #fff;
        border-radius: 20px;
        li {
            height: 80px;
            line-height: 80px;
            padding: 0 20px;
            font-size: 28px;
            color: $m-fc;
            position: relative;
            transition: all linear .3s;
        }
        li:active {
            background: #f2f3f5;
        }
        li:after {
            position: absolute;
            box-sizing: border-box;
            content: ' ';
            pointer-events: none;
            left: 20px;
            right: 20px;
            bottom: 0;
            border-bottom: 1px solid #ebedf0;
        }
        li:last-child:after {
            content: ''
        }
    }
    :global(.r-slider-icon) {
        background: url('@/assets/imgs/slider.png') no-repeat center;
        background-size: 100%;
    }
    :global(.r-slider) {
        height: 30px;
        border-radius: 15px;
    }
    :global(.r-slider-process) {
        padding: 0;
        border-radius: 15px;
    }
    :global(.r-slider-process-inner) {
        border-radius: 15px;
    }
    :global(.r-slider-icon) {
        width: 56px;
        height: 56px;
        box-shadow: none;
    }
}
.container-pad-40 {
    padding: 30px 40px 0 40px;
    :global(.item) {
        margin-bottom: 20px;
    }
    :global(.normal) {
        margin-bottom: 20px;
        :global(.r-slider-icon) {
            width: 56px;
            height: 56px;
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        }
        :global(.r-slider) {
            height: 10px;
            border-radius: 5px;
            background: #ebedf0;
        }
        :global(.r-slider-process) {
            padding: 0;
            border-radius: 5px;
            background: none;
        }
        :global(.r-slider-process-inner) {
            border-radius: 5px;
            background: #1989fa;
            box-shadow: none;
        }
    }
}
.dialog {
    padding: 90px;
    text-align: center;
    span {
        position: absolute;
        display: inline;
        right: 10px;
        top: 10px;
        width: 50px;
        height: 50px;
        background: rgba(0,0,0,.5);
        border-radius: 50%;
    }
}

