.r-layout {
    background: #f7f8fa;
    height: 100vh;
}
.r-layout .r-lt-header {
    height: 80px;
    line-height: 80px;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0;
}
.r-layout .r-lt-header .name {
    padding: 0 80px;
}
.r-layout .r-lt-header .left {
    position: absolute;
    font-size: 30px;
    width: 80px;
    text-align: center;
}
.r-layout .r-lt-container {
    padding-top: 80px;
}
