.p-home {
    min-height: 100vh;
    background-color: #fff;
    padding: 30px 40px;
}
.head {
    font-size: 36px;
    img {
        width: 50px;
    }
    .logo-name {
        margin-left: 16px;
    }
    .iconfont {
        color: red;
    }
}
