.p {
    transition: all linear 2s;
    font-size: 26px;
    span {
        color: red;
    }
}
.h1 {
    color: yellow;
    font-size: 30px;
}
.am-button {
    color: red;
}
.head {
    img {
        width: 40px;
    }
}
