.p-home {
    min-height: 100vh;
    background-color: #fff;
    padding: 30px 40px;
}
.head {
    font-size: 36px;
    :global(.logo-name) {
        margin-left: 16px;
    }
    :global(.logo) {
        color: red;
    }
}
